@font-face {
    font-family: 'Franklin Gothic Book';
    src: url('fonts/FranklinGothic-Book.woff2') format('woff2'),
        url('fonts/FranklinGothic-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

